body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game {
  margin-top: 100px;
  text-align: center;
}

.board {
  border-top: 1px solid #2F4F4F;
  border-left: 1px solid #2F4F4F;
  display: inline-block;
}

.row {
  margin: 0px;
  height: 15px;
}

.cell {
  border-right: 1px solid #2F4F4F;
  border-bottom: 1px solid #2F4F4F;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: white;
}

.cell:hover, .cell.active {
  background-color: #2F4F4F;
}

.controls {
  text-align: center;
  margin-top: 30px;
}

.control-button {
  display: inline-block;
  margin-right: 20px;
}
